extends ../components/base/layout

block variables
  - const title = "Map2" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const hasLoader = false
  - const footerMods = ""
  - const currentUrl = "map-2.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    //- на странице запрещен "голый" код
    //- все блоки вставляются из папки pug/components/blocks
    +map(dataMap2)


block modals
