-
  const dataMap1 = {
    title: "Задание по карте №1",
    subTitle: "Техническое задание",
    items: [
      "Реализовать карту через API Яндекс карт",
      "Настроить кастомный пин на карте так, что бы его стрелочка четко указывала на центр координат, которые вы можете придумать сами",
      "На десктопной версии при скролле колесиком мышки, карта не должна масштабироваться.",
    ]
  }


mixin map(data)
  .map
    .container
      h1 !{data.title}
      h2 !{data.subTitle}
      each item in data.items
        p !{item}

      .map__inner
        .map__inner-map(data-map="map-1" data-center="59.968513, 30.317772" data-zoom="17")
