.card-simple {

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  min-height: 115px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;

  @include vp-1023 {
    padding: 15px;
  }

  @include vp-767 {
    min-height: unset;
  }


  &__title {
    text-align: right;
  }

  &--centered {
    justify-content: center;
    align-items: center;
  }

  &--dark {
    background-color: #e3e3e3;
  }

}
