.map {
  width: 100%;

  padding: calc(var(--header-height) + 50px) 0 100vh;

  &__inner {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    margin-top: 100px;
  }

  &__inner-map {
    width: 100%;
    height: 100%;

    svg {
      width: 30px;
      height: 40px;
    }
  }

  &__super-zoom {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    transition: opacity ease 0.6s;
    opacity: 0;

    p {
      color: white;
      font-size: 20px;
    }
  }
}

.is-active.map__super-zoom {
  transition: opacity ease 0.6s;
  opacity: 1;
}

.map-point {
  display: flex;

  img {
    width: 100px;
    height: 60px;
    margin-right: 10px;
  }

  p {
    margin: 0 0 0 0;
  }


}

.map-filter {
  padding: 50px 0 0;
}

.map-filter__list {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -10px -15px 0;
}

.map-filter__item {
  padding: 10px 15px 0;
}

.map-filter__label {
  display: flex;
  align-items: center;
  background-color: rgba(107,202,255,.5);
  border: 2px solid transparent;
  padding: 10px 20px 10px 5px;
  border-radius: 15px;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  transition: all .3s ease;
  user-select: none;
  padding: 20px;
}

.map-filter input:checked+.map-filter__label {
  background-color: #6bcaff;
}
