.map {
  width: 100%;

  padding: calc(var(--header-height) + 50px) 0 100vh;

  &__inner {
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    margin-top: 100px;
  }

  &__inner-map {
    width: 100%;
    height: 100%;

    svg {
      width: 30px;
      height: 40px;
    }
  }

}

.map-point {
  display: flex;

  img {
    width: 100px;
    height: 60px;
    margin-right: 10px;
  }

  p {
    margin: 0 0 0 0;
  }


}
